<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Comments</th>
        </tr>
    </thead>
    <tbody>
        {% for series in chosen.series_set.all %}
            <tr>
                <td>{{ series.number }}</td>
                <td>{{ series.description }}</td>
                <td><input type="text" value="{{ series.comments }}"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
